.generic-content-container {
    p {
        font-size: 1.125rem;
        margin: 1.8rem 0rem;
        
        @mixin atSmall {
            line-height: 1.65;
        }
    }

    p a {
        font-weight: 700;
    }

}