.row {
    
    @mixin clearfix;    
    
    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }

    &--t-padding {
        padding-top: 85px;
    }
    
    @mixin atMedium {
        &__b-margin-until-medium {
            margin-bottom: 0;
        }
        &__medium-4 {
            float: left;
            width: 33.33%;
        }
        &__medium-4--larger {
            width: 37%;
        }

        &__medium-6 {
            float: left;
            width: 50%;
        }

        &__medium-8 {
            float: left;
            width: 66.66%;    
        }
        &__medium-8--larger {
            width: 63%;
        }
    }

    @mixin atLarge {
        &__b-margin-until-large {
            margin-bottom: 0;
        }
        &__large-4 {
            float: left;
            width: 33.33%;
        }
        &__large-4--larger {
            width: 37%;
        }

        &__large-6 {
            float: left;
            width: 50%;
        }

        &__large-8 {
            float: left;
            width: 66.66%;    
        }
        &__large-8--larger {
            width: 63%;
        }
    }
    
    &--margins {
        margin-right: -65px;
    }
    
    &--margins > div {
        padding-right: 65px;
    }
    
    &--margin-small {
        margin-right: -45px;
    }
    
    &--margin-small > div {
        padding-right: 45px;
    }

    &--margin-large {
        margin-right: -100px;
    }

    &--margins-large > div {
        @mixin atSmall {
            padding-right: 100px;
        }
    }
    
    /* Begin Equal Height Rules*/
    &--equal-height-at-medium {
        @mixin atMedium {
            display: flex;
        }
        & > div {
            fload: none;
            display: flex;
        }
    }

     &--equal-height-at-large {
        @mixin atLarge {
            display: flex;
        }
        & > div {
            fload: none;
            display: flex;
        }
    }
}