.row {

    @mixin clearfix;    
    
    @mixin atMedium {
        &__medium-4 {
            float: left;
            width: 33.33%;
            
            &--larger {
                width: 37%;
            }
        }
        &__medium-8 {
            float: left;
            width: 66.66%;
            
            &--larger {
                width: 63%;
            }
        }
    }
    &--margins {
        margin-right: -65px;
    }

    &--margins > div {
        padding-right: 65px;
    }
}